* {
    box-sizing: border-box;
}
header{
   display:flex;
   align-content: center;
   justify-content: center;
}
body{
    
    display:flex;
   align-content: center;
   justify-content: center;
}
.h1{
      justify-content: center;
}
.TicTacToeBoard{
   display:flex;
   flex-wrap:wrap;
   width: 800px;

 }
 .cell {
    display:flex;
    background-color: #c77523;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-right: black;
    border-style: outset;
    font-size: 180px;
    font-family: fantasy;
    padding-top: 50px;
 }
.buttonStyle
{
    margin-top: 20px;
    height: 50px;
    width: 200px;
    margin-left: 200px;
    font-size: larger;
    border-radius: 10px;

}
 
       
 