* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-content: center;
    justify-content: center;
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
}

h1 {
    justify-content: center;
    margin-left: 150px;
    font-family: papyrus;
    font-size: 60px;
    font-weight: 800px;
}

.TicTacToeBoard {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}

.cell {
    display: flex;
    background-color: #c77523;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border-right: black;
    border-style: outset;
    font-size: 20.20vh;
    font-family: papyrus;
    padding-top: 50px;
    user-select: none;
}

.buttonStyle {
    margin-top: 20px;
    height: 50px;
    width: 200px;
    margin-left: 200px;
    border-radius: 10px;
    font-family: papyrus;
    font-size: 2vh;
}

.scoreLabel {
    font-family: papyrus;
    font-size: 20px;
}

.h2 {
    font-weight: 400px;
}

.score {
    border-style: ridge;
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 50px;
}